body {
    background-color: rgb(196, 185, 171);
    margin: 0;
}

div.Header {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

div.HeaderHome {
    position: absolute;
    top: 0;
    left: 0;
}

div.HeaderHome a {
    color: rgb(161, 91, 16);
}

div.HeaderNav {
    position: absolute;
    top: 0;
    right: 0;
    float: left;
}

div.HeaderNav a {
    margin-right: 20px;
}

div.ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.AddContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

div.TextContainer {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

div.TextContainer label {
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
    width: 200px;
}

div.TextContainer input {
    height: 40px;
    width: 500px;
    background-color:rgb(196, 185, 171);
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}


input[type="text"] {
    font-size: 25px;
}

button {
    border-radius: 5px;
    height: 40px;
    width: 700px;
    border: none;
    background-color: rgb(212, 176, 128);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.TableHolder{
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #fffefe;
}

tr:hover {
    background-color: #fffbfb;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
}